[build]
  base = "/"
  publish = "dist/"
  command  = "npx browserslist@latest --update-db && npm install mysql && npm install stripe && npm run build"
  functions = "my_functions/"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/:splat"
  status = 200
  force = true
